<div class="main">
  <h1 class="top-title">先生の部屋やTAさんの部屋を検索できます。</h1>
  <div class="top-area">
    <div class="search-area">
      <%= form_tag("/lessons/index") do %>
        <div class="search-unit">
          <p>講義の名前</p>
          <input name="lesson_name" placeholder="漢字で正確に入力"  >
        </div>
        <div class="search-unit">
          <p>先生の名前</p>
          <input name="teacher_name" class="teacher" placeholder="名字のみを漢字で入力" ><a>先生</a>
        </div>
        <input type="submit" value="検索" class="submit">
      <% end %>
    </div>
    <div class="top-note-area">
      <h2>検索のポイント</h2>
      <ul class="note-list">
        <li>漢字で正確に入力してください</li>
        <li>一部分でも大丈夫です</li>
        <li>例)「熱力学特論」→「熱」</li>
      </ul>
    </div>
  </div>
</div>