<div class="main">
  <h2>ユーザー新規登録</h2>

  <% @user.errors.full_messages.each do |message| %>
    <div class="form-error">
      <%= message %>
    </div>
  <% end %>
  <div class="search-area">
    <%= form_tag("/users/create") do %>
      <div class="search-unit">
        <p>ユーザー名</p>
        <input name="name" value="<%= @user.name %>">
      </div>
      <div class="search-unit">
        <p>パスワード</p>
        <div><span>※半角英数字混合、8文字以上</span></div>
        <input type="password" name="password" value="<%= @user.password %>">
      </div>
      <input type="submit" value="新規登録" class="submit rogin">
    <% end %>
  </div>
</div>